Flask==3.1.0
Flask-SQLAlchemy==3.0.5
SQLAlchemy==2.0.38
psycopg2-binary==2.9.10
python-dotenv  # Si usas variables de entorno
pyfingerprint==1.5
gunicorn==23.0.0  # Opcional, si haces deploy con Gunicorn
flask-rebar==3.3.2
requests